/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #dff7e8;
}

body {
  font-family: 'Kosugi Maru', sans-serif !important;
  background-color: #fff9e6 !important;
}



.hero-content {
  background-color: rgba(255, 255, 255, 0.8);
  filter: brightness(0.8);
  border-radius: 12px;
  width: 80%;
  color: #2e7d32;
}

.hero-content h2, .hero-content p {
  text-shadow: 1px 1px 3px rgba(0,0,0,0.4);
}

.card.step-card {
  width: 260px;
  border-radius: 16px;
  border: 2px solid #a5d6a7; 
  background-color: #e3f6e3;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05); 
  transition: 0.3s;
}

.card-text {
  font-family: 'Zen Maru Gothic', sans-serif;
  font-size: 16px;
  color: #2e7d32;
}